html{
    scroll-behavior: smooth;
}

body{
    font-family: sans-serif;
    margin: 0;
}

.go-to-top{
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: red;
    color: white;
    padding: 8px 5px;
    border-radius: 10px;
    text-decoration: none;
    z-index: 100;
}

.navbar{
    background-color: rgb(43, 43, 114);
    color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 100;
}

.menu{
    display: flex;
    gap: 10px;
    list-style-type: none;
    align-items: center;
}

.menu a{
    color: white;
    text-decoration: none;
}

.course-section, .about-section, .product-section{
    padding: 20px 50px;
}

.course-section > h2, .about-section > h2, .product-section > h2{
    color: rgb(43, 43, 114);
    text-align: center;
    margin-bottom: 5px;
}

.course-section > p, .about-section > p, .product-section > p{
    text-align: center;
    color: rgb(111, 111, 111);
    margin-top: 0;
}

.course-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.course{
    background-color: rgb(146, 146, 146);
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    transition: 0.4s;
    cursor: pointer;
}

.course:hover{
    /* transform: scale(1.03); */
    transform: translateY(-5px);
    /* transform: rotate(15deg); */
    box-shadow: 1px 3px 8px gray;
}

.about-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.about-container img{
    width: 100%;
    border-radius: 10px;
}

.about-text p{
    text-align: justify;
}

.product-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}

.product{
    padding: 10px;
    border: 1px solid rgb(216, 216, 238);
    border-radius: 8px;
    text-decoration: none;
    color: black;
    transition: 0.3s;
}

.product img{
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
}

.product:hover{
    transform: translateY(-5px);
}

.footer{
    background-color: rgb(41, 41, 119);
    color: white;
    padding: 20px 50px;
}

.upper-footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.footer-div ul{
    list-style-type: none;
    padding: 0;
}

.footer-div li{
    margin: 5px 0;
}

.footer-div a {
    color: white;
    text-decoration: none;
}

.lower-footer{
    display: flex;
    justify-content: space-between;
}

.lower-footer a{
    color: white;;
}