body{
    font-family: sans-serif;
    margin: 0;
}

.navbar{
    background-color: rgb(43, 43, 114);
    color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu{
    display: flex;
    gap: 10px;
    list-style-type: none;
    align-items: center;
}

.menu a{
    color: white;
    text-decoration: none;
}