body{
    font-family: sans-serif;
    margin: 0;
}

.navbar{
    background-color: rgb(43, 43, 114);
    color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu{
    display: flex;
    gap: 10px;
    list-style-type: none;
    align-items: center;
}

.menu a{
    color: white;
    text-decoration: none;
}

.course-section{
    padding: 20px 50px;
}

.course-section > h2{
    color: rgb(43, 43, 114);
    text-align: center;
    margin-bottom: 5px;
}

.course-section > p{
    text-align: center;
    color: rgb(111, 111, 111);
    margin-top: 0;
}

.course-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.course{
    background-color: rgb(146, 146, 146);
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    transition: 0.4s;
    cursor: pointer;
}

.course:hover{
    /* transform: scale(1.03); */
    transform: translateY(-5px);
    /* transform: rotate(15deg); */
    box-shadow: 1px 3px 8px gray;
}