body{
    margin: 0;
    font-family: sans-serif;
}

.mytable{
    border: 1px solid black;
    border-collapse: collapse;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
} 
.mytable td{
    border: 1px solid black;
    padding: 10px;
}

.mytable th{
    border: 1px solid black;
    padding: 10px;
}