@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


body{
    font-family: "Rubik", sans-serif;
}

.mydiv{
    background-color: blue;
    color: white;
    padding: 20px;
    margin: 10px;
    width: 400px;
    border-radius: 10px;
}